.ballin-container {
    display: flex;
    flex-direction: column;

    padding-top: 1vh;
}

.ballin-text {
    font-family: 'Press Start 2P';
    text-align: center;
    overflow-wrap: break-word;

    padding-top: 3px;
    padding-bottom: 3px;
}

.ballin-img {
    flex-grow: 1;
    cursor: pointer;
}

@media (min-width: 430px) {
    .ballin-img {
        width: 400px;
        margin: auto;
    }
}

.ballin-confetti {
    position: fixed;
    top: 0;
}
