.ballin-container {
    display: flex;
    flex-direction: column;

    padding-top: 1vh;
}

.ballin-img {
    flex-grow: 1;
    cursor: pointer;
}

@media (min-width: 400px) {
    .ballin-img {
        width: 400px;
        margin: auto;
    }
}
